body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #music-player {
    text-align: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  #album-image {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #title, #artist {
    margin: 0;
    padding: 10px 0;
  }
  
  audio {
    width: 100%;
    margin: 20px 0;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  